* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue LT Std, system-ui, sans-serif;
    overflow-x: hidden;

}

h1 {
    font-family: Helvetica Neue LT Std, system-ui, sans-serif;
    text-align: center;
    text-decoration: underline;
    margin: 2rem 0;
}

h2,
h3,
h4 {
    font-family: Helvetica Neue LT Std, system-ui, sans-serif;
    text-align: center;
    margin: 1rem 0;
}

div a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

/* Navegador */

#header {
    background-color: black;
    height: 120px;
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 20px;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    font-family: Cabin, Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 10px;
    margin: 0 10px 0 0;
    align-items: center;


}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: large;

}

nav ul li a:hover {
    text-decoration: 2px solid underline white;

}

h2#indextitulo {
    text-align: center;
    margin: 1rem 0;
}

/* imagenes-index */
.imagenes {
    display: flex;
    justify-content: space-between;
    /* Alinea los artículos a lo largo del contenedor */
    align-items: center;
    flex-wrap: nowrap;
    /* Evita que los artículos se envuelvan en la siguiente línea */
    margin-top: 30px;
    margin-bottom: 10px;
    overflow-x: auto;
    /* Permite el desplazamiento horizontal si es necesario */
}

.imagenes article {
    margin: 0 10px;
    width: 100%;
    height: 472px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.imagenes article h3 {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.sombras {
    background-image: url("../recursos/index/Vibrate-Shade-Card.jpg");
}

.falsies {
    background-image: url("../recursos/index/shot_05_falsies_surreal_006_focus1.webp");
}

.age {
    background-image: url("../recursos/index/mny20_about-us_eraser-concealer_315x473_r1-vb.webp");
}

.labiales {
    background-image: url("../recursos/index/shot9_music_collection_ssmi_na_630x946.webp");
}


/* Carrito de compras */

#carritoDeCompras {
    position: absolute;
    right: 40px;
    z-index: 1000;
    display: inline-block;
    margin-bottom: 2rem;
}


#carritoDeCompras img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

/* Imagen del login */
.login {
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 1000;
    background-color: #000000;
    padding: 10px;
}

.login img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 6rem;
    padding: 0 2rem;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 16px;
    width: 400px;
    /* Añade un ancho mínimo */
    min-height: 550px;
    /* Añade una altura mínima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    /* margin: 16px; */
}

.card img {
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 8px;
    text-align: center;
}

.card p {
    margin: 5px 0;
    font-size: 1em;
}

.botonCard {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: block;
    align-items: center;
}

.botonCard:hover {
    color: black;
    background-color: white;
    border: 1px solid #000000;
}

/* Estilo para los inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Estilo para el focus */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #000000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    outline: none;
}

/* Estilo para el botón */
button[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Hover para el botón */
button[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid black;
}

/* Estilo general del formulario */
.formularioIndex {
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.botonVolver {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* footer */
#footer {
    background-color: black;
    height: 50px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    text-align: center;
    color: white;
}

.swiper {
    width: auto;
    height: 550px;
}

.swiper-button-next,
.swiper-button-prev {
    color: black;
}

.swiper-pagination-bullet {
    background-color: black;
}

/* Contacto */
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.lugares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.lugares img {
    width: 200px;
    margin: 10px;
}

#productosCarrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 20px;
}

/* Contenedor de cada producto */
.producto-carrito {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    width: 100%;
    max-width: calc(100% - 3rem);
}

/* Estilo para la imagen */
.producto-carrito img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;

}

/* Contenedor del contenido del producto */
.producto-detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 20px;
}

/* Estilos para el nombre del producto */
.producto-detalles h3,
.producto-detalles p {
    margin: 4px 0;
    text-align: center;
}

/* Botón de eliminar*/
.producto-carrito button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.producto-carrito button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
}


#noproducto {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#noproducto p {
    margin: 0;
    font-size: 16px;
}

#totalCarrito {
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#totalCarrito p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

#buscador-input {
    width: 50%;
    margin: 20px auto;
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#buscador-input:focus {
    outline: none;
    border-color: #000;
}

/* Responsive */

/* Inicio */

@media (max-width: 1200px) {
    #header {
        max-width: auto;
        margin: auto;
        align-items: center;
    }

    #card-container {
        width: calc(100%-2rem);
    }

    .lugares {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 731px) {
    #header {
        max-width: auto;
        margin: auto;
        align-items: center;
    }

    .imagenes {
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: hidden;
    }

    .imagenes article {
        width: 85%;
        height: 500px;
        margin: 10px 0;
    }

    .imagenes article h3 {
        font-size: 1.2rem;
        padding: 5px;
    }

    .swiper {
        width: 100%;
        height: 500px;
    }

    .swiper-wrapper img {
        width: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: black;
        font-size: 1.2rem;
    }

    .swiper-pagination-bullet {
        background-color: black;
        width: 10px;
        height: 10px;
    }

}

@media (max-width: 730px) {
    #header {
        max-width: auto;
        margin: auto;
        align-items: center;
    }

    #header img {
        width: 150px;
    }

    .imagenes {
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: hidden;
    }

    .imagenes article {
        width: 85%;
        height: 500px;
        margin: 10px 0;
    }

    .imagenes article h3 {
        font-size: 1.2rem;
        padding: 5px;
    }

    .swiper {
        width: 100%;
        height: 500px;
    }

    .swiper-wrapper img {
        width: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: black;
        font-size: 1.2rem;
    }

    .swiper-pagination-bullet {
        background-color: black;
        width: 10px;
        height: 10px;
    }

}
@media(max-width:729px){
    #header .login img {
        width: 45px;
        margin-top: -20px;
    }
}

@media (max-width:400px) {
    #header {
        height: calc(100%-3rem);
    }

    #header .login img {
        width: 30px;
    }

    nav ul li a {
        font-size: medium;

    }

    .swiper {
        width: 100%;

        height: 300px;

    }

    .swiper-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: black;
        font-size: 1rem;

    }

    .swiper-pagination-bullet {
        background-color: black;
        width: 8px;

        height: 8px;
    }

    .lugares {
        display: flex;
        justify-content: center;
    }

    #noproducto {
        width: 80%;
        max-width: 400px;
    }

}